<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.pbox.pvbs.persist.acct.AcctMapper">
	<resultMap id="acctMap" type="com.group.pbox.pvbs.model.acct.Account">
		<id property="id" column="ID" javaType="String" />
		<result property="realAccountNumber" column="REAL_ACCOUNT_NUMBER" javaType="String" />
		<result property="clearingCode" column="CLEARING_CODE" javaType="String" />
		<result property="accountNumber" column="ACCOUNT_NUMBER" javaType="String" />
		<result property="branchNumber" column="BRANCH_NUMBER" javaType="String" />
		<result property="status" column="STATUS" javaType="int" />
	</resultMap>
	<sql id="Base_Column_List">
		ID AS id, REAL_ACCOUNT_NUMBER AS realAccountNumber, CLEARING_CODE AS
		clearingCode, BRANCH_NUMBER AS branchNumber, ACCOUNT_NUMBER AS accountNumber, STATUS AS status
	</sql>

	<insert id="addAcct" parameterType="com.group.pbox.pvbs.model.acct.Account">
		insert into T_ACCOUNT
		(ID,REAL_ACCOUNT_NUMBER,CLEARING_CODE,ACCOUNT_NUMBER,BRANCH_NUMBER,STATUS)
		values
		(#{id},#{realAccountNumber},#{clearingCode},#{accountNumber},#{branchNumber},#{status})
	</insert>
	
	<select id="accountValid" parameterType="com.group.pbox.pvbs.model.acct.Account"
		resultType="int">
		select count(0) from T_ACCOUNT where
		ACCOUNT_NUMBER=#{accountNumber} and STATUS=0
	</select>
	
	<select id="getAccountInfo" parameterType="com.group.pbox.pvbs.model.acct.Account"
		resultType="com.group.pbox.pvbs.model.acct.Account">
		select 
		<include refid="Base_Column_List" />
		 from t_account
		 where 1=1  
		 <if test="realAccountNumber!=null">
		 	and REAL_ACCOUNT_NUMBER=#{realAccountNumber} 
		 </if>
		 <if test="id!=null">
		 	and ID=#{id} 
		 </if> 
	</select>
	
	<select id="fetchAcctStatus" parameterType="com.group.pbox.pvbs.model.acct.Account"
		resultType="int">
		select STATUS from t_account 
		<where>
		<if test="5==realAccountNumber.toString().length()">
			ACCOUNT_NUMBER=#{realAccountNumber}
		</if>
		<if test="12==realAccountNumber.toString().length()">
			REAL_ACCOUNT_NUMBER=#{realAccountNumber}
		</if>
		</where>
	</select>
	
	<select id="accountValidByRealNum" parameterType="String"
		resultType="int">
		select count(0) from T_ACCOUNT where
		REAL_ACCOUNT_NUMBER=#{realAccountNumber} and STATUS=0
	</select>
	
	<update id="closeStatus" parameterType="com.group.pbox.pvbs.model.acct.Account">
		update t_account set STATUS=1 
		<where>
		<if test="5==realAccountNumber.toString().length()">
			ACCOUNT_NUMBER=#{realAccountNumber}
		</if>
		<if test="12==realAccountNumber.toString().length()">
			REAL_ACCOUNT_NUMBER=#{realAccountNumber}
		</if>
		</where>
	</update>
	<select id="realAcctNum" parameterType="com.group.pbox.pvbs.model.acct.Account"
		resultType="int">
		select count(0) from T_ACCOUNT where
		REAL_ACCOUNT_NUMBER=#{realAccountNumber} and STATUS=0
	</select>
	<select id="fetchAcct" parameterType="com.group.pbox.pvbs.model.acct.Account"
		resultType="String">
		select MAX(ACCOUNT_NUMBER) as ACCOUNT_NUMBER from t_account
	</select>
	<select id="getAcctInfoByRealNum" parameterType="com.group.pbox.pvbs.model.acct.Account"
		resultType="com.group.pbox.pvbs.model.acct.Account">
		select 
		<include refid="Base_Column_List" />
		 from t_account
		 where 1=1  
		 <if test="realAccountNumber!=null">
		 	and REAL_ACCOUNT_NUMBER=#{realAccountNumber} 
		 </if>
	</select>
</mapper>