<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.pbox.pvbs.persist.acct.AcctMasterMapper">
	<resultMap id="acctMasterMap" type="com.group.pbox.pvbs.model.acct.AccountMaster">
		<id property="id" column="ID" javaType="String" />
		<result property="accountId" column="ACCOUNT_ID" javaType="String" /> 
		<result property="customerName" column="CUSTOMER_NAME" javaType="String" />
		<result property="customerId" column="CUSTOMER_ID" javaType="String" />
		<result property="dateOfBirth" column="DATE_OF_BIRTH" javaType="Date" />
		<result property="address" column="ADDRESS" javaType="String" />
		<result property="contactAddress" column="CONTACT_ADDRESS" javaType="String" />
		<result property="contactNumber" column="CONTACT_NUMBER" javaType="String" />
		<result property="wechatId" column="WECHAT_ID" javaType="String" />
		<result property="employment" column="EMPLOYMENT" javaType="String" />
		<association property="account" javaType="com.group.pbox.pvbs.model.acct.Account">
			<id property="id" column="ID" javaType="String" />
			<result property="realAccountNumber" column="REAL_ACCOUNT_NUMBER" javaType="String" />
			<result property="clearingCode" column="CLEARING_CODE" javaType="String" />
			<result property="accountNumber" column="ACCOUNT_NUMBER" javaType="String" />
			<result property="branchNumber" column="BRANCH_NUMBER" javaType="String" />
			<result property="status" column="STATUS" javaType="int" />
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		ID AS id, ACCOUNT_ID AS accountId, CUSTOMER_NAME AS
		customerName, CUSTOMER_ID AS customerId, DATE_OF_BIRTH AS dateOfBirth,
		ADDRESS AS address, CONTACT_ADDRESS AS contactAddress, CONTACT_NUMBER AS contactNumber,
		WECHAT_ID AS wechatId, EMPLOYMENT AS employment
	</sql>
	<sql id="Base_Column_List1">
		m.ACCOUNT_ID AS ACCOUNT_ID, m.CUSTOMER_NAME AS CUSTOMER_NAME, m.CUSTOMER_ID AS CUSTOMER_ID,
		m.DATE_OF_BIRTH AS DATE_OF_BIRTH, m.ADDRESS AS address, m.CONTACT_ADDRESS AS CONTACT_ADDRESS,
		m.CONTACT_NUMBER AS CONTACT_NUMBER, m.WECHAT_ID AS WECHAT_ID, m.EMPLOYMENT AS employment,
		t.REAL_ACCOUNT_NUMBER AS REAL_ACCOUNT_NUMBER, t.CLEARING_CODE AS CLEARING_CODE,
		t.BRANCH_NUMBER AS BRANCH_NUMBER, t.ACCOUNT_NUMBER AS ACCOUNT_NUMBER
	</sql>
	<select id="enquiryAcctInfo" parameterType="String"
		resultMap="acctMasterMap">
		select 
		<include refid="Base_Column_List1" />
		from t_account_master m left join t_account t on m.ACCOUNT_ID=t.ID where
		t.REAL_ACCOUNT_NUMBER=#{realAcctNum}
	</select>
	
	<insert id="insertAccountMaster" parameterType="com.group.pbox.pvbs.model.acct.AccountMaster">
		insert into t_account_master
		(ID,ACCOUNT_ID,CUSTOMER_NAME,CUSTOMER_ID,DATE_OF_BIRTH,ADDRESS,CONTACT_ADDRESS,
		CONTACT_NUMBER,WECHAT_ID,EMPLOYMENT)
		values
		(#{id},#{accountId},#{customerName},#{customerId},#{dateOfBirth},#{address},
		#{contactAddress},#{contactNumber},#{wechatId},#{employment})
	</insert>
	<update id="editAcctMaster" parameterType="com.group.pbox.pvbs.model.acct.AccountMaster">
		update t_account_master SET
		ADDRESS = #{address}, CONTACT_ADDRESS = #{contactAddress}, CONTACT_NUMBER = #{contactNumber}, WECHAT_ID = #{wechatId}
		where ACCOUNT_ID = #{accountId}
	</update>
</mapper>