<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.pbox.pvbs.persist.ccyEx.CcyExchangeRateMapper">
	<resultMap id="CcyExchangeRateMap" type="com.group.pbox.pvbs.model.currencyRate.CurrencyRate">
		<id property="id" column="ID" javaType="String" />
		<result property="currencyCode" column="CURRENCY_CODE" javaType="String" />
		<result property="exchangeRate" column="EXCHANGE_RATE" javaType="BigDecimal" />
	</resultMap>

	<sql id="Base_Column_List">
		ID AS id, CURRENCY_CODE AS currencyCode, EXCHANGE_RATE AS exchangeRate
	</sql>

	<select id="getAllExchangeRate" resultType="com.group.pbox.pvbs.model.currencyRate.CurrencyRate">
		select 
		<include refid="Base_Column_List" /> 
		from t_currency_rate
	</select>
	
	<select id="getCcyExRateByCurrCode" parameterType="java.lang.String"
		resultType="com.group.pbox.pvbs.model.currencyRate.CurrencyRate">
		select
		<include refid="Base_Column_List" />
		 from t_currency_rate where CURRENCY_CODE=#{currencyCode}
	</select>
	
</mapper>