<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.pbox.pvbs.model.termdeposit.TermDepositMaster">
	<resultMap id="termDepositMasterMap"
		type="com.group.pbox.pvbs.model.termdeposit.TermDepositMaster">
		<id property="id" column="ID" javaType="String" />
		<result property="accountId" column="ACCOUNT_ID" javaType="String" />
		<result property="depositNumber" column="DEPOSIT_NUMBER"
			javaType="String" />
		<result property="depositAmount" column="DEPOSIT_AMOUNT"
			javaType="double" />
		<result property="termPeriod" column="TERM_PERIOD" javaType="String" />
		<result property="termInterestRate" column="TERM_INTEREST_RATE"
			javaType="double" />
		<result property="maturityDate" column="MATURITY_DATE"
			javaType="Date" />
		<result property="maturityInterest" column="MATURITY_INTEREST"
			javaType="double" />
		<result property="maturityAmount" column="MATURITY_AMOUNT"
			javaType="double" />
		<result property="maturityStatus" column="MATURITY_STATUS"
			javaType="String" />
		<result property="createTime" column="CREATE_TIME" javaType="Date" />

	</resultMap>
	<sql id="Base_Column_List">
		ID AS id, ACCOUNT_ID AS accountId, DEPOSIT_NUMBER AS
		depositNumber, DEPOSIT_AMOUNT AS depositAmount, TERM_PERIOD AS
		termPeriod,
		TERM_INTEREST_RATE AS termInterestRate,MATURITY_DATE AS
		maturityDate,MATURITY_INTEREST AS maturityInterest,MATURITY_AMOUNT AS
		maturityAmount,
		MATURITY_STATUS AS maturityStatus,CREATE_TIME AS
		createTime
	</sql>
	<insert id="addTermDeposit"
		parameterType="com.group.pbox.pvbs.model.termdeposit.TermDepositMaster">
		insert into t_td_master (ID,ACCOUNT_ID,DEPOSIT_NUMBER,
		DEPOSIT_AMOUNT,TERM_PERIOD,TERM_INTEREST_RATE,MATURITY_DATE,MATURITY_INTEREST,MATURITY_AMOUNT,MATURITY_STATUS,CREATE_TIME)
		values
		(#{id},#{accountId},#{depositNumber},#{depositAmount},#{termPeriod},#{termInterestRate},#{maturityDate},#{maturityInterest},#{maturityAmount},#{maturityStatus},#{createTime})
	</insert>
	<update id="updateTermDeposit"
		parameterType="com.group.pbox.pvbs.model.termdeposit.TermDepositMaster">
		update t_td_master set MATURITY_STATUS='D'
		<where>
			DEPOSIT_NUMBER = #{depositNumber}
		</where>
	</update>


	<select id="enquiryTermDeposit" 
		resultType="com.group.pbox.pvbs.model.termdeposit.TermDepositMaster">
		select
		<include refid="Base_Column_List" />
		from t_td_master t left join t_account a on t.ACCOUNT_ID=a.ID
		where
		a.REAL_ACCOUNT_NUMBER=#{0} AND
		t.DEPOSIT_NUMBER=#{1}
	</select>

	<select id="genereateMaxTDNum"
		parameterType="com.group.pbox.pvbs.model.termdeposit.TermDepositMaster"
		resultType="String">
		select MAX(DEPOSIT_NUMBER) as DEPOSIT_NUMBER from
		t_td_master
	</select>
</mapper>