<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.pbox.pvbs.model.termdeposit.TermDepositRate">
	<resultMap id="termDepositeRate" type="com.group.pbox.pvbs.model.termdeposit.TermDepositRate">
		<id property="id" column="ID" javaType="String" />
		<result property="termDeposiPeriod" column="TD_PERIOD" javaType="String" />
		<result property="termDeposiInterestRate" column="TD_INTEREST_RATE" javaType="BigDecimal" />
	</resultMap>
	<sql id="Base_Column_List">
		ID , TD_PERIOD , TD_INTEREST_RATE
	</sql>
	<select id="fetchAllTermDepositRate" resultType="com.group.pbox.pvbs.model.termdeposit.TermDepositRate">
		select
		<include refid="Base_Column_List" />
		 from t_td_rate
	</select>
</mapper>