<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.pbox.pvbs.persist.user.UserMapper">
	<resultMap id="userMap" type="com.group.pbox.pvbs.model.user.User">
		<id property="id" column="ID" javaType="String" />
		<result property="userId" column="USER_ID" javaType="String" />
		<result property="userName" column="USER_NAME" javaType="String" />
		<result property="userPosition" column="USER_POSITION"
			javaType="String" />
		<result property="transactionLimit" column="TRANSACTION_LIMIT"
			javaType="String" />
		<result property="termDepositeLimit" column="TD_LIMIT" javaType="String" />
		<result property="exchangeRateLimit" column="EXCH_LIMIT"
			javaType="String" />
		<result property="userPassword" column="USER_PASSWORD"
			javaType="String" />
		<result property="userStatus" column="USER_STATUS"
			javaType="String" />
	</resultMap>
	<sql id="Base_Column_List">
		ID AS id, USER_ID AS userId, USER_NAME AS
		userName,
		USER_POSITION AS userPosition, TRANSACTION_LIMIT AS transactionLimit,
		TD_LIMIT AS termDepositeLimit, EXCH_LIMIT AS exchangeRateLimit,
		USER_PASSWORD AS userPassword, USER_STATUS AS userStatus
	</sql>
	<select id="accountValid" parameterType="com.group.pbox.pvbs.model.user.User"
		resultType="com.group.pbox.pvbs.model.user.User">
		select
		<include refid="Base_Column_List" />
		from t_user where
		USER_ID=#{userId} AND
		USER_PASSWORD=#{userPassword}
	</select>

	<insert id="addUser" parameterType="com.group.pbox.pvbs.model.user.User">
		insert into t_user
		(ID,USER_ID,USER_NAME,USER_POSITION,TRANSACTION_LIMIT,TD_LIMIT,EXCH_LIMIT,USER_PASSWORD,USER_STATUS)
		values
		(#{id},#{userId},#{userName},#{userPosition},#{transactionLimit},#{termDepositeLimit},#{exchangeRateLimit},#{userPassword},#{userStatus})
	</insert>

	<select id="fetchUserDetlByUserId" parameterType="String"
		resultType="com.group.pbox.pvbs.model.user.User">
		select
		<include refid="Base_Column_List" />
		from t_user where USER_ID = #{userId}
	</select>

	<update id="updateUser" parameterType="com.group.pbox.pvbs.model.user.User">
		update t_user SET
		USER_NAME = #{userName}, USER_POSITION = #{userPosition}, TRANSACTION_LIMIT =
		#{transactionLimit}, TD_LIMIT = #{termDepositeLimit}, EXCH_LIMIT = #{exchangeRateLimit},
		<if test="userStatus!=null"> 
			USER_STATUS = #{userStatus} 
		</if>
		where USER_ID = #{userId}
	</update>

	<select id="queryUserByParams" parameterType="com.group.pbox.pvbs.model.user.User"
		resultType="com.group.pbox.pvbs.model.user.User">
		select
		<include refid="Base_Column_List" />
		from t_user where USER_ID = #{userId}
		<if test="pageStartRow!='' ">
			LIMIT #{pageStartRow}, #{pageRecorders}
		</if>
	</select>
	<select id="queryUserByParamsCount" parameterType="com.group.pbox.pvbs.model.user.User"
		resultType="com.group.pbox.pvbs.model.user.User">
		select ID as id
		from t_user where USER_ID = #{userId}
		<if test="pageStartRow!='' ">
			LIMIT #{pageStartRow}, #{pageRecorders}
		</if>
	</select>
</mapper>