<!DOCTYPE html>
<html lang="en">
<head>
<!-- The styles -->
<script src="../comm/config.js"></script>
<script src="../comm/headerRef.js"></script>

<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<style>
.navbar-brand span {
	font-size: initial;
	font-family: Segoe Script;
	font-size: 24px;
	float: left;
	display: inline-block;
}
</style>
</head>
<body>

	<!-- topbar starts -->
	<script src="../comm/toolbar.js"></script>
	<!-- topbar ends -->
	<div class="ch-container">
		<div class="row">
			<!-- left menu starts -->
			<script src="../comm/menu.js"></script>
			<!-- left menu ends -->
			<div id="content" class="col-lg-10 col-sm-10">
				<!-- content starts -->

				<div class="row">
					<div class="box col-md-12">
						<div class="box-inner">
							<div class="box-header well" data-original-title="">
								<h2>
									<i class="glyphicon glyphicon-edit"></i>Account Creation
								</h2>

							</div>
							<div class="box-content">

								<form id="creationForm" method="post"
									class="form-horizontal bv-form" style="width: 100%"
									action="target.php" novalidate="novalidate">
									<button type="submit" class="bv-hidden-submit"
										style="display: none; width: 0px; height: 0px;"></button>

									<div class="alert alert-success" style="display: none;"></div>

									<div class="form-group">

										<input type="hidden" name="search" id="search" value="">
									</div>


									<br>
									<div class="form-group">
										<div class="group has-feedback">
											<label class="col-sm-2 control-label">Clearing Code</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" name="clearingCode"
													id="clearingCode" data-bv-field="clearingCode"><i
													class="form-control-feedback"
													data-bv-icon-for="clearingCode" style="display: none;"></i>
												<small class="help-block" data-bv-validator="notEmpty"
													data-bv-for="clearingCode" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入中文名</small><small
													class="help-block" data-bv-validator="regexp"
													data-bv-for="name" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入中文字符</small><small
													class="help-block" data-bv-validator="stringLength"
													data-bv-for="clearingCode" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入25字以内的中文名</small>
											</div>
										</div>
										<div class="group has-feedback">
											<label class="col-sm-2 control-label">Branch Number</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" name="branchNumber"
													id="branchNumber" data-bv-field="branchNumber"><i
													class="form-control-feedback"
													data-bv-icon-for="branchNumber" style="display: none;"></i>
												<small class="help-block" data-bv-validator="notEmpty"
													data-bv-for="branchNumber" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入英文名</small><small
													class="help-block" data-bv-validator="regexp"
													data-bv-for="branchNumber" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入英文字母</small><small
													class="help-block" data-bv-validator="stringLength"
													data-bv-for="branchNumber" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入50字符以内的英文名</small>
											</div>
										</div>
									</div>
									<br>

									<div class="form-group">
										<div class="group has-feedback">
											<label class="col-sm-2 control-label">Account Number</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" name="accountNumber"
													id="accountNumber" data-bv-field="accountNumber"><i
													class="form-control-feedback"
													data-bv-icon-for="accountNumber" style="display: none;"></i>
												<small class="help-block" data-bv-validator="notEmpty"
													data-bv-for="accountNumber" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入中文名</small><small
													class="help-block" data-bv-validator="regexp"
													data-bv-for="accountNumber" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入中文字符</small><small
													class="help-block" data-bv-validator="stringLength"
													data-bv-for="accountNumber" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入25字以内的中文名</small>
											</div>
										</div>
										<div class="group has-feedback">
											<label class="col-sm-2 control-label">Customer Name </label>
											<div class="col-sm-4">
												<input type="text" class="form-control" name="customerName"
													id="customerName" data-bv-field="customerName"><i
													class="form-control-feedback"
													data-bv-icon-for="customerName" style="display: none;"></i>
												<small class="help-block" data-bv-validator="notEmpty"
													data-bv-for="customerName" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入英文名</small><small
													class="help-block" data-bv-validator="regexp"
													data-bv-for="customerName" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入英文字母</small><small
													class="help-block" data-bv-validator="stringLength"
													data-bv-for="customerName" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入50字符以内的英文名</small>
											</div>
										</div>
									</div>
									<br>

									<div class="form-group">
										<div class="group has-feedback">
											<label class="col-sm-2 control-label">Customer ID</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" name="customerId"
													id="customerId" data-bv-field="customerId"><i
													class="form-control-feedback" data-bv-icon-for="customerId"
													style="display: none;"></i> <small class="help-block"
													data-bv-validator="notEmpty" data-bv-for="customerId"
													data-bv-result="NOT_VALIDATED" style="display: none;">请输入中文名</small><small
													class="help-block" data-bv-validator="regexp"
													data-bv-for="customerId" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入中文字符</small><small
													class="help-block" data-bv-validator="stringLength"
													data-bv-for="customerId" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入25字以内的中文名</small>
											</div>
										</div>
										<div class="group has-feedback">
											<label class="col-sm-2 control-label">Date of Birth </label>
											<div class="col-sm-4">
												<input type="text" class="form-control" name="dateOfBirth"
													id="dateOfBirth" data-bv-field="dateOfBirth"><i
													class="form-control-feedback"
													data-bv-icon-for="dateOfBirth" style="display: none;"></i>
												<small class="help-block" data-bv-validator="notEmpty"
													data-bv-for="dateOfBirth" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入英文名</small><small
													class="help-block" data-bv-validator="regexp"
													data-bv-for="dateOfBirth" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入英文字母</small><small
													class="help-block" data-bv-validator="stringLength"
													data-bv-for="dateOfBirth" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入50字符以内的英文名</small>
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="group has-feedback">
											<label class="col-sm-2 control-label">Address</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" name="address"
													id="address" data-bv-field="address"><i
													class="form-control-feedback" data-bv-icon-for="address"
													style="display: none;"></i> <small class="help-block"
													data-bv-validator="notEmpty" data-bv-for="address"
													data-bv-result="NOT_VALIDATED" style="display: none;">请输入中文名</small><small
													class="help-block" data-bv-validator="regexp"
													data-bv-for="address" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入中文字符</small><small
													class="help-block" data-bv-validator="stringLength"
													data-bv-for="address" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入25字以内的中文名</small>
											</div>
										</div>
										<div class="group has-feedback">
											<label class="col-sm-2 control-label">Contact Address
											</label>
											<div class="col-sm-4">
												<input type="text" class="form-control"
													name="contactAddress" id="contactAddress"
													data-bv-field="contactAddress"><i
													class="form-control-feedback"
													data-bv-icon-for="contactAddress" style="display: none;"></i>
												<small class="help-block" data-bv-validator="notEmpty"
													data-bv-for="contactAddress" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入英文名</small><small
													class="help-block" data-bv-validator="regexp"
													data-bv-for="contactAddress" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入英文字母</small><small
													class="help-block" data-bv-validator="stringLength"
													data-bv-for="contactAddress" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入50字符以内的英文名</small>
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="group has-feedback">
											<label class="col-sm-2 control-label">Contact Number</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" name="contactNumber"
													id="contactNumber" data-bv-field="contactNumber"><i
													class="form-control-feedback"
													data-bv-icon-for="contactNumber" style="display: none;"></i>
												<small class="help-block" data-bv-validator="notEmpty"
													data-bv-for="contactNumber" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入中文名</small><small
													class="help-block" data-bv-validator="regexp"
													data-bv-for="contactNumber" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入中文字符</small><small
													class="help-block" data-bv-validator="stringLength"
													data-bv-for="contactNumber" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入25字以内的中文名</small>
											</div>
										</div>
										<div class="group has-feedback">
											<label class="col-sm-2 control-label">WeChat ID </label>
											<div class="col-sm-4">
												<input type="text" class="form-control" name="wechatId"
													id="wechatId" data-bv-field="wechatId"><i
													class="form-control-feedback" data-bv-icon-for="wechatId"
													style="display: none;"></i> <small class="help-block"
													data-bv-validator="notEmpty" data-bv-for="wechatId"
													data-bv-result="NOT_VALIDATED" style="display: none;">请输入英文名</small><small
													class="help-block" data-bv-validator="regexp"
													data-bv-for="wechatId" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入英文字母</small><small
													class="help-block" data-bv-validator="stringLength"
													data-bv-for="wechatId" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入50字符以内的英文名</small>
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="group has-feedback">
											<label class="col-sm-2 control-label">Employment</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" name="employment"
													id="employment" data-bv-field="employment"><i
													class="form-control-feedback" data-bv-icon-for="employment"
													style="display: none;"></i> <small class="help-block"
													data-bv-validator="notEmpty" data-bv-for="employment"
													data-bv-result="NOT_VALIDATED" style="display: none;">请输入中文名</small><small
													class="help-block" data-bv-validator="regexp"
													data-bv-for="employment" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入中文字符</small><small
													class="help-block" data-bv-validator="stringLength"
													data-bv-for="employment" data-bv-result="NOT_VALIDATED"
													style="display: none;">请输入25字以内的中文名</small>
											</div>
										</div>
									</div>

									<br>

									<div class="form-group">

										<div style="text-align: center; width: 50%; float: right">
											<input type="submit" value="save&nbsp;&nbsp;"
												name="subscribe" id="sub_bt" href="#"
												class="button btn btn-primary" data-dismiss="modal"
												style="background-color: #aaa; border: 0 none; border-radius: 4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size: 15px; font-weight: bold; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding: 0; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: 100px; margin: auto;">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

				</div>
				<!--/row-->

			</div>

			<!-- content ends -->
		</div>
		<!--/#content.col-md-0-->
	</div>
	

	<!--/fluid-row-->
	<script src="../comm/foot.js"></script>
	</div>
	<!--/.fluid-container-->

	<!-- external javascript -->
	<script src="../comm/footRef.js"></script>
	<!-- end external javascript -->
		<script src="creation.js"></script>
</body>
</html>

